html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

#curve_chart{
    width: 100%;
    min-height: 500px;
    margin: auto;
    z-index: -1;
}

#cases{
    list-style-type: none;
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px auto;
    text-align: center;
    padding: 0;
}

#cases li{
    margin: auto;
    padding: 0;
    align-self: baseline;
    height: 100px;
}

span{
    font-size: 2rem;
    display: block;
    opacity: 0.5;
    font-weight: 300;
}

table{
    margin: auto;
    text-align: center;
    z-index: -1;
}

tbody{
    font-weight: 300;
}

th{
    padding: 5px 20px;
}

.country{
    text-align: left;
    transition: 0.1s;
    color: rgb(24, 102, 248);
}

.country:hover{
    color: rgb(238, 31, 31);
    cursor: pointer;
}

#rotate{
    height: 30px;
    width: 30px;
    border: 5px solid gray;
    border-top: 5px solid black;
    border-radius: 50px;
    animation: rotation 0.5s infinite linear;
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    display: block;
    z-index: 100;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width: 750px){
    #cases{
        grid-template-columns: 1fr ;
    }

    table{
        font-size: 0.8rem;
    }

    th{
        padding: 5px 5px;
    }

    tr{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}